/* TJ TKV */
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');


*{margin:0px;padding:0px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box; }

body{background-color:#FBFBFB;font:12px/18px Arial,FreeSans, Helvetica, sans-serif;color: #000000;}

a{text-decoration:none;color:#0066CC;}
a:hover{text-decoration:underline;}

#PhotoUpload_Ajax{ display:none;}

.dashCircle{display:inline-block;vertical-align:top;width:200px;height:200px;border-radius:100%;border:solid 10px;
line-height:40px;text-align:center;letter-spacing:1px;margin:20px;}
.dashCircle .num{display:block;font-size:28px;margin-top:55px;font-family:Georgia;}
.dashCircle .text{display:block;font-size:15px;text-transform:uppercase;font-weight:bold;}

.Header1{height:auto;position:relative!important;right:0;left:0;overflow:visible;z-index:5;}
.Header1 a{text-decoration:none;}
.Header1 .Logo{float: left;display:inline-block;vertical-align:top;}
.Header1 .ImgLogo{display:inline-block;vertical-align:top;}
.Header1 .ImgLogoLove{width:auto!important;height:120px;}
.Header1 .LogoR{float: right;display:inline-block;vertical-align:top;text-align:left;margin-top:40px;}
.Header1 .RMenu{font-size:15px;font-weight:700;border-radius:0px;padding:5px 20px 5px 20px;cursor:pointer;color:#333333;margin-left:10px;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;background-color:#EEEEEE;border-radius:3px;}
.Header1 .RMenu:hover{color:#FFFFFF;background-color:#666666;}
.HeaderBody1{margin-left:auto;margin-right:auto;margin-top:20px;text-align:left;font-family: Arial, Helvetica, sans-serif;}


.Content{margin-left:auto;margin-right:auto;text-align:left;} 
.Content, .HeaderBody,.HeaderBody1,.ind_h1,.profileCover{width:1110px !important;}


.Header{height:60px;position:fixed!important;right:0;left:0;overflow:visible;z-index:5;background-color:#FDFDFD;box-shadow: 0 2px 2px rgba(0, 0, 0, 0.30);-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.20);}
.Header a{text-decoration:none;}
.Header .Logo{float: left;display:inline-block;vertical-align:top;}
.Header .ImgLogo{display:inline-block;vertical-align:top;}
.Header .ImgLogoLove{width:auto!important;height:40px;}
.Header .LogoR{float: right;display:inline-block;vertical-align:top;text-align:left;}
.Header .RMenu{font-size:14px;font-weight:bold;border-radius:0px;padding:5px;cursor:pointer;color:#999999;margin-left:8px;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;}
.Header .RMenu:hover{color:#000000;}
.HeaderBody{margin-left:auto;margin-right:auto;margin-top:13px;text-align:left;font-family: Arial, Helvetica, sans-serif;height:44px!important;color:#FFFFFF !important;line-height:1.5 !important;font-size:20px !important;}

.opacity{opacity:.4!important;cursor:default!important;}

.Bottom{z-index:2;position:relative;margin-top:50px;font-size:20px;font-weight:bold;}
.Bottom a{ color:#333333;text-decoration:none;}
.Bottom a:hover{text-decoration:underline;}

.mtkv::before{display: block;position: absolute;content: '';top: 0;left: 0;bottom: 0;right: 0;z-index: 1;background-repeat: repeat;background-image: url(../img/pattern.png);}
.msK {position: absolute;bottom: 0;top: 0;left: 0;right: 0;z-index: 2;background: rgba(0, 0, 0, 0.1);}
.msKHome{height:100%;width:100%;display:inline-block;position:relative;z-index:2;background: rgba(0, 0, 0, 0.6);}
.msKIndex{background: rgba(0, 0, 0, 0.3);}

input,select,textarea{border:none;font-size:13px; padding:8px;border-radius:3px; }
select{cursor:pointer;padding:5px;}
textarea{resize:none;}
/*input:focus, textarea:focus{-webkit-box-shadow: 0 0 5px #999999;-moz-box-shadow: 0 0 5px #999999;box-shadow: 0 0 5px #999999;border-color:#666666;}
*/input,textarea{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;font-family:Arial, Helvetica, sans-serif;
-webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
-moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
transition: box-shadow 0.45s, border-color 0.45s ease-in-out; }

.Home {background: #333333 url("../img/index2.jpg") no-repeat center bottom fixed; background-size: cover;background-repeat:no-repeat;} 
.Home .Content{padding-top:70px;}

.Special{padding:15px 18px 15px 18px;text-align:center;font-size:12px;font-weight:700;line-height:25px;cursor:pointer;display:inline-block;vertical-align:top;}
.SpecialImg{width:50px;height:50px;border-radius:100%;background-color:#003399;}



.docBox{border-bottom:solid 1px #D6D6D6;padding:20px 20px 15px 20px;background-color:#FFFFFF;}
.docBox:nth-last-child(1){border-bottom:none!important;}

.docImg{display:inline-block;vertical-align:top;}
.docW{width:70px;height:70px;border-radius:100%;}
.docDiv{display:inline-block;vertical-align:top;margin-left:15px;width:580px;}
.docDiv i{ font-size:21px;vertical-align:middle;padding:2px;color:#993300;font-weight:normal!important;}
.docTitle{font-size:20px;color:#000000;font-weight:700;}
.docHigh{font-size:14px;color:#003366;font-weight:500;display:inline-block; vertical-align:top;margin-left:10px;}
.docSpec{font-size:13px;color:#333333;font-weight:600;margin-top:5px;}
.docLoc{font-size:14px;color:#333333;font-weight:600;margin-top:15px;}
.docDes{font-size:14px;color:#333333;font-weight:500;margin-top:10px;}
.docBut{font-size:14px;color:#FFFFFF; text-shadow:#6D6D6D 0px 1px 1px;font-weight:500;margin-top:10px;font-weight:700;background-color:#00FF33;padding:5px 15px 5px 15px;display:inline-block;border-radius:3px;cursor:pointer;}
.docSeeMore{padding:10px;background-color:#FF9900;color:#FFFFFF;font-size:15px;text-align:center;font-weight:700;cursor:pointer;}


.ViewAppointments{font-size:25px!important;font-weight:700;color:#0066CC;cursor:pointer;display:inline-block;vertical-align:middle;margin-left:15px;}
.ViewAppointments:hover{color:#333333;}
.cnts{font-size:11px;background-color:#003399;border-radius:100px;padding:5px;color:#FFFFFF;position:absolute;margin:-10px 0px 0px -15px;}


.proEdit{font-size:25px!important;font-weight:700;color:#999999;float:right;cursor:pointer;}
.proEdit:hover{color:#333333;}
.proGender{font-size:35px!important;margin-bottom:10px;font-weight:700;color:#666666;}
.proDet{font-size:15px;margin-bottom:10px;font-weight:700;color:#666666;}
.passBut{font-size:14px;color:#FFFFFF; text-shadow:#6D6D6D 0px 1px 1px;font-weight:500;font-weight:700;background-color:#0066FF;padding:8px 15px 8px 15px;display:block;border-radius:3px;cursor:pointer;text-align:center;}
.passInput{width:100%;margin-bottom:10px;background-color:#D6D6D6;font-size:15px;}


.Symptoms{padding:10px;font-size:16px;padding:8px 15px 8px 15px;background-color:#0033CC;color:#FFFFFF;font-weight:700;display:inline-block;vertical-align:top;
border-radius:100px;cursor:pointer;letter-spacing:1px;margin:10px 5px 10px 5px;}
.Symptoms input{margin-right:5px;display:inline-block;border:none!important;}


.EditGender{margin:15px;font-size:40px!important;font-weight:700;color:#C1C1C1;cursor:pointer;}
.EditGender:hover{color:#999999;}
.EditGenderActive,.EditGenderActive:hover{color:#003366;}


.SpecialitiesBox{padding:10px;border:solid 1px #FFFFFF;background-color:#F7F7F7;
position:relative;z-index:2;display:inline-block;vertical-align:top;width:100%;
text-align:left;opacity:.9;border-radius:3px;margin-top:30px;}
.SpecialitiesBoxTitle{font-size:20px;color:#000000;font-weight:bold;padding:20px;letter-spacing:1px;text-transform:uppercase;}


.DoctorsBox{background-color:#00FF33;
position:relative;z-index:2;display:inline-block;vertical-align:top;width:740px;margin-top:40px;
text-align:left;opacity:.9;border-radius:3px;}
.DoctorsBoxTitle{font-size:20px;color:#000000;font-weight:bold;padding:30px;letter-spacing:1px;text-transform:uppercase;}
.ProfileBox{padding:10px;border:solid 1px #FFFFFF;background-color:#F7F7F7;
position:relative;z-index:2;display:inline-block;vertical-align:top;width:350px;min-height:600px; margin-left:10px;margin-top:40px;
text-align:left;border-radius:3px;}
.BottomProfile{margin-top:20px;color:#666666;}
.BottomProfile a{ color:#333333;font-weight:700;}


.TimeTable{margin-top:50px;}
.TimeTable .labelTime{ font-weight:700;margin-bottom:5px !important;display:block;vertical-align:middle;}
.TimeTable .labelTime label,input[type="checkbox"]{cursor:pointer;}
.TimeTable .labelTime input[type="checkbox"]{display:inline-block;vertical-align:middle;}
.TimeTable select{ border:solid 1px #CCCCCC;}
.TimeTable .strong{ margin-top:5px; margin-bottom:2px;font-weight:700;}


.timeTableRow{margin:5px 0px 5px 0px;border-bottom:solid 1px #CCCCCC;line-height:20px;}
.timeTableRow:nth-last-child(1){border-bottom:none!important;}/*.people:nth-last-child(odd) {background-color: #F7F7F7;}*/

.TimeDelete{float:right;margin-bottom:5px;font-weight:bold;cursor:pointer;}

.appTab{display:inline-block;vertical-align:top;padding:3px 10px 3px 10px;background-color:#996633;color:#FFFFFF;border-radius:2px;font-size:14px;cursor:pointer;margin-left:10px;}


.AdminHome {background-color:#F4F4F4;} 
.msKAdminHome{height:100%;width:100%;display:inline-block;position:relative;}

.tab{padding:8px;color:#FBFBFB;font-size:14px;font-weight:700;cursor:pointer;display:block;margin:0px 0px 8px 0px;background-color:#ACACAC;border-radius:100px;
text-indent:10px;}
.tab:hover{background-color:#828282;text-decoration:none;}
.tabActive,.tabActive:hover{background-color:#585858;}
.AdPageTitle{padding:15px;font-size:25px;color:#990000;letter-spacing:1px;border-bottom:solid 1px #D6D6D6;}
.TabMenu{width:200px;display:inline-block;vertical-align:top;}
.TabConts{width:880px;min-height:500px;display:inline-block;vertical-align:top;margin-left:14px;}







.UsersBox{border-bottom:solid 1px #D6D6D6;padding:5px;}
.UsersBox:nth-last-child(1){border-bottom:none!important;}

.Ud{display:inline-block;vertical-align:top;}
.UdImg{width:35px;height:35px;border-radius:100%;}
.UTitle{padding:10px;font-size:14px;color:#990033;font-weight:700;display:inline-block;vertical-align:top;}
.UTitle a{color:#990033;}
.UsersBoxOld{ background-color:#003366;border-radius:5px;}
.UsersBoxOld .UTitle{ color:#FFFFFF;}
.UsersBoxOld .UTitle a{ color:#FFFFFF;}

.UMenu{float:right;display:inline-block;vertical-align:middle;}
.UbuT{padding:3px 10px 3px 10px;margin:8px 3px 8px 3px;color:#FFFFFF;font-weight:bold;border-radius:3px;cursor:pointer;display:inline-block;vertical-align:top;}
.Ubut1{background-color:#00CC33;}
.Ubut2{background-color:#990000;}
.Ubut3{background-color:#0066FF;}
.Ubut4{background-color:#FF6600;}
.Ubut5{background-color:#FF9966;cursor:default;}
.Ubut6{background-color:#000000;}


.SeeMore{padding:8px;text-align:center;font-size:14px;font-weight:700;color:#666666;background-color:#EBEBEB;cursor:pointer;border-radius:0px 0px 15px 15px;}
.DbMoreLimit{padding:5px 12px 5px 12px;background-color:#0099FF;color:#FFFFFF;font-size:15px;font-weight:700;display:inline-block;cursor:pointer;vertical-align:top;border-radius:3px;text-decoration:none;margin-right:10px;}
.DbMoreLimit:hover{text-decoration:none;}
.DbMoreLimitTag{font-size:18px;color:#999999;letter-spacing:5px;}
.DbMoreLimitTagAct{font-size:20px;color:#000000;}

.LogsInfo{margin-top:10px;line-height:25px;font-weight:normal;}
.leftTabb{ background-color:#0066FF;padding:5px;color:#FFFFFF;border-radius:4px;margin-bottom:10px;display:inline-block;width:150px;font-weight:bold;text-align:center;vertical-align:top;}
.RightTabb{ padding:5px;color:#333333;border-radius:4px;margin-bottom:10px;display:inline-block;width:600px;font-weight:bold;text-align:left;vertical-align:top;}


.BoxClicks{padding:20px 50px 20px 50px;font-size:18px;color:#FFFFFF;font-weight:bold;text-align:center;display:inline-block;vertical-align:top;border-radius:5px;cursor:pointer;line-height:30px;margin-left:20px;}
a.BoxClicks:hover{text-decoration:none;}




/*LOGIN*/

.Login {background: #333333 url("../img/index.jpg") no-repeat center bottom fixed; background-size: cover;background-repeat:no-repeat;} 
.Login .Content{padding-top:70px;}
.Login input:focus{-webkit-box-shadow: 0 0 5px #999999;-moz-box-shadow: 0 0 5px #999999;box-shadow: 0 0 5px #999999;}

.ActionBox{padding:20px;color:#FFFFFF; width:400px;height:auto;opacity:.8;margin-top:80px;border-radius:8px;position:relative;z-index:5;}

.ActionBox input{font-family: Arial, Helvetica, sans-serif;background-color:#FFFFFF; color:#000000;width:100%;font-size:15px;margin-bottom:10px;border-radius:100px;text-indent:3px;box-shadow: 0 2px 2px rgba(0, 0, 0, 0.30);-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.20); }

.LoginBut{text-align:center;color: #000000!important;font-family:Calibri !important;
font-weight:700;letter-spacing:1px;border-radius:100px;
cursor:pointer;font-size:20px;line-height:35px;background-color:#F3F3F3;border:none;
box-shadow: 0 2px 2px rgba(0, 0, 0, 0.30);-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.20);}

.ActionBox label{cursor:pointer;font-size:20px;font-weight:700;}
.label{display:inline-block;vertical-align:top;margin-right:25px;margin-left:25px;}
.error{ display:none;padding:10px;font-size:18px;color:#FFFFFF;font-weight: 700;margin-top:5px;margin-bottom:15px;background-color:#993300;border-radius:100px;}
.BoxHeadTitle{padding:10px;font-size:25px;color:#FFFFFF;font-weight: 700;margin-top:5px;margin-bottom:15px;}

/*LOGIN*/




#CalendarSelect_ajax{background-color:#993333;margin-bottom:5px;font-weight:700;color:#FFFFFF;border:none;width:252px;}






.AppointmentAdd{cursor:default;}
.AppointmentActive{cursor:pointer;font-weight:bold;background-color:#6699FF !important;color:#FFFFFF !important;}
.Limited{background-color:#FF0033 !important;color:#FFFFFF !important;}
.Leaves{background-color:#FFCC00 !important;color:#FFFFFF !important;}
.AppointmentActivated{background-color:#003399!important;}







/*******************************Calendar Top Navigation*********************************/
div#calendar{
  padding:0px;
  width: 252px;
  font-family:Helvetica, "Times New Roman", Times, serif;
  background-color:#FFFFFF;
  display:inline-block;vertical-align:middle;
}
 
div#calendar div.box{
    position:relative;
    top:0px;
    left:0px;
    width:100%;
    height:40px;
    background-color:   #787878 ;      
}
 
div#calendar div.header{
    line-height:40px;  
    vertical-align:middle;
    position:relative;
    left:0px;
    top:0px;
    width:100%;
    height:40px; 
    text-align:center;
}
 
div#calendar div.header a.prev,div#calendar div.header a.next{ 
    position:;
    top:0px;   
    height: 17px;
    display:inline-block;
    cursor:pointer;
    text-decoration:none;
    color:#FFF;
}
 
div#calendar div.header span.title{
    color:#FFF;
    font-size:18px;
}
 
 
div#calendar div.header a.prev{
    left:0px;float:left;
}
 
div#calendar div.header a.next{
    right:0px;float:right;
}
 
 
 
 
/*******************************Calendar Content Cells*********************************/
div#calendar div.box-content{
    border:1px solid #787878 ;
    border-top:none;
}
 
 
 
div#calendar ul.label{
    float:left;
    margin: 0px;
    padding: 0px;
    margin-top:5px;
    margin-left: 5px;
}
 
div#calendar ul.label li{
    margin:0px;
    padding:0px;
    margin-right:5px;  
    float:left;
    list-style-type:none;
    width:30px;
    height:30px;
    line-height:30px;
    vertical-align:middle;
    text-align:center;
    color:#000;
    font-size: 15px;
    background-color: transparent;
}
 
 
div#calendar ul.dates{
    float:left;
    margin: 0px;
    padding: 0px;
    margin-left: 5px;
    margin-bottom: 5px;
}
 
/** overall width = width+padding-right**/
div#calendar ul.dates li{
    margin:0px;
    padding:0px;
    margin-right:5px;
    margin-top: 5px;
    vertical-align:middle;
    float:left;
    list-style-type:none;
    width:30px;
    height:30px;
    line-height:30px;
    font-size:14px;
    background-color: #DDD;
    color:#000;
    text-align:center; 
}
 

 
div.clear{
    clear:both;
}     
